<html>
<head>
    <title>{% firstof title account.site_title "Gallery" %}</title>
    
    <script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lightbox-0.5{% if not debug %}.min{% endif %}.js"></script>
    
    <link href="/static/css/jquery.lightbox-0.5{% if not debug %}.min{% endif %}.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/gallery{% if not debug %}.min{% endif %}.css" rel="stylesheet" type="text/css" />
    {% if account %}
        <style type="text/css">
            #container { max-width: {{account.homepage_size}}px; }
        </style>
    {% endif %}
</head>
<body id="{% firstof body_id "gallery" %}">
    <!-- container -->
    <div id="container">
        <ul id="navigation">
            <li>
                <a id="navigation-title" href="{% url landing %}">
                    {% firstof account.site_header "your" %}<span class="lightgray">gallery</span>
                    {% if current_album %}
                        <span id="navigation-current">&raquo; {{current_album|lower}}</span>
                    {% endif %}
                </a>
                {% if account.backend %}
                    <ul id="album-navigation">
                        {% for album in account.backend.get_featured_albums %}
                            <li><a href="/{{ album.title }}/" {% if album.title == current_album %} class="selected"{% endif %}>{{album.title|lower}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
        
        {% block container %}
        {% endblock container %}
        
        <div id="footer">
            {% if user %}
                <a href="{% url logout %}">logout</a>
            {% else %}
                <a href="{% url login %}">login</a>
            {% endif %}
            &copy; {% now "Y" %}
        </div>
        
    </div>
    <!-- end container -->
    
    <!-- javascript -->
    {% block script-footer %}
    {% if account.analytics_id %}
        <!-- google analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ account.analytics_id }}']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- end google analytics -->
    {% endif %}
    {% if account.merchant_id %}
        <!-- google checkout -->
        <script  id='googlecart-script' type='text/javascript'
            src='https://checkout.google.com/seller/gsc/v2_2/cart.js?mid={{ account.merchant_id }}'
            currency='USD'
            integration='jscart-wizard'
            post-cart-to-sandbox='false'
            hide-cart-when-empty='true'
            post-cart-to-sandbox='false'
            productWeightUnits='LB'></script>
        <!-- end google checkout -->
    {% endif %}
    {% endblock script-footer %}
    <!-- end javascript -->
</body>
</html>